

/* =========================
   Noto Sans Full Integration
   ========================= */
   
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans';
  src: url('./fonts/NotoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Kosmik-Bold';
  src: url('./fonts/Kosmik-BoldThree Regular.otf') format('opentype');
}


/* =========================
   Global Styles
   ========================= */
body {
  margin: 0;
  background-image: url('./background-thumbnail.jpg');
  background-size: 1260px;
  background-repeat: no-repeat;
  height: 3000px;
  font-family: 'Kosmik-Bold', sans-serif;
}


/* =========================
   Layout Containers
   ========================= */
#container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 240px;
  margin-left: 70px;
  max-width: 1120px;
  position: relative;

}

#globeWrapper {
  width: 1120px;
  height: 725px;
  margin: 0 auto;
  position: relative;

  
}

#globeClip {
  width: 100%;
  height: 725px;
  overflow: hidden;
  position: absolute;
border-radius: 10px;


}

#globeViz {

      transform: translateY(-95px);
}

/* =========================
   Sidebar & Info Panel
   ========================= */


#topPanels {
  position: absolute;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: black;
  z-index: 50;
}


#yearSidebar {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  max-height: 600px;
  padding: 20px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  line-height: 10px;
  border-radius: 5px;
  z-index: 10;
}

#infoPanel {
  position: absolute;
  font-size: 20px;
  top: 20px;
  left: 840px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  z-index: 50;
  margin-right: 20px;
  width: 220px;
}

#tipsPanel {
  position: absolute;
  bottom: 20px;
  left: 200px;
  display: grid;
  grid-template-columns: 135px 135px 135px 135px ;
  gap: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 5px;
  z-index: 50;
  width: 590px;
}

#infoBar {
  position: absolute;
  left: 0;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 20px;
  color: #222;
  z-index: 10;
}

/* =========================
   Info Blocks & Text Styles
   ========================= */
.info-block {
  padding: 8px 12px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  min-width: 120px;
  text-align: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.info-value {
  font-size: 30px;
  line-height: 20px;
  font-weight: 700;
  color: #285d18;
}

#sidebar-tip,
#sidebar-tip-2,
#sidebar-tip-3,
#sidebar-tip-4 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  color: #285d18;

}


#footerNote {
  position: absolute;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  width: 230px;
  right: 25px;
  bottom: 15px;
  font-size: 8px;
  line-height: 10px;
  color: #5d7157;
  padding: 5px;
  border-radius: 5px;
  z-index: 5;
}

/* =========================
   Year & Decade Styling
   ========================= */
.decade-header {
  cursor: pointer;
  font-size: 20px;
  margin-top: 12px;
  color: #285d18;
  border-top: solid;
  padding-top: 10px;
  padding-left: 4px;
}


.year-list {
  /* Can add additional styles if needed */
}

.year-list.hidden {
  display: none;
}

.year-item {
  cursor: pointer;
  padding-top: 17px;
  padding-left: 10px;
  font-size: 18px;
  color: #285d18;
  font-weight: 500;
}

.year-item.active {
  color: #F28A00;
}

/* =========================
   Pointer Events
   ========================= */
#infoPanel,
#yearSidebar {
  pointer-events: none;
}

#infoPanel *,
#yearSidebar * {
  pointer-events: auto;
}


/* =========================
   Consent Banner Styles
   ========================= */


#consent-banner {
  position: absolute;       
  inset: 0;      
  background: rgba(255,255,255,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
  padding: 20px;
  border-radius: 10px;     
  backdrop-filter: blur(2px); 
}

#consent-box {
  max-width: 600px;
  background: white;
  border: 2px solid #285d18;
  border-radius: 10px;
  padding: 30px 40px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);
  color: #285d18;
  text-align: center;
}

#consent-box h2 {
  margin-top: 0;
  color: #285d18;
}

#accept-btn {
  font-family: "Noto Sans";
  margin-top: 20px;
  background: #285d18;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#accept-btn:hover {
  background: #3e8631;
  transform: scale(1.05);
}

/* =========================
   MOBILE LAYOUT
   ========================= */
@media (max-width: 768px) {

  /* Общий контейнер становится вертикальным */
  #container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  /* ===== tipsPanel ===== */
  #tipsPanel {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    box-sizing: border-box;
    background: rgba(255,255,255,0.0);
    left: 0;
    top: 0;
    height: 130px;
    padding: 10px;
    gap: 10px;
  }

  #tipsPanel p {
    min-width: 180px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    padding-left: 2%;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.7);
    border-radius: 8px;
  }

  /* ===== globewrapper ===== */
  #globeWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  #globeClip {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  #globeViz {
    transform: translateY(0px) !important;
  }

  
  /* ===== Year Sidebar ===== */
  #yearSidebar {
    position: absolute;
    top: 130px!important;
    left: 2%;
    width: 25%;
    height: auto;
    line-height: 9px;
    padding: 13px;
    background: rgba(255,255,255,0.8);
    z-index: 20;
    backdrop-filter: blur(4px);
  }

.decade-header {
    font-size: 18px;
  }

.year-item {
    padding-top: 16px;
    font-size: 18px;
  }
  
  /* ===== infoPanel ===== */
  #infoPanel {
    position: absolute;
    bottom: 10px!important;
    left: 2%;
    top: auto;
    height: auto;
    width: auto;
    background: rgba(255,255,255,0.8);
    backdrop-filter: blur(4px);
    padding: 14px;


    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;       
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    gap: 10px;

    font-size: 18px;
    z-index: 20;
  }

  .info-value {
    font-size: 22px !important;
  }

  /* ===== Footer ===== */
  #footerNote {
    position: relative;
    width: 100%;
    height: 50px;
    left: 10px;
    text-align: center;
    padding-top: 15px;
    bottom: 100px;
  }
}
